<!DOCTYPE html>
<html>
  <head>
    <title>Text to Speech</title>
  </head>
  <body>
    <h1>Text to Speech</h1>
    <form
      action="{{ url_for('upload') }}"
      method="post"
      enctype="multipart/form-data"
    >
      <label for="file">Select File:</label>
      <input type="file" name="file" id="file" required />
      <br />
      <label for="language">Select Language:</label>
      <select name="language" id="language" required>
        {% for lang in languages %}
        <option value="{{ lang }}">{{ lang }}</option>
        {% endfor %}
      </select>
      <br />
      <label for="format">Select Format:</label>
      <select name="format" id="format" required>
        {% for fmt in formats %}
        <option value="{{ fmt }}">{{ fmt }}</option>
        {% endfor %}
      </select>
      <br />

      <label for="voice">Select Voice:</label>
      <select name="voice" id="voice" required>
        {% if language %}
          {% for lang_code, lang_name in languages.items() %}
            {% if lang_code.startswith(language) %}
              {% for voice_code, voice_name in lang_name.items() %}
                <option value="{{ voice_code }}">{{ voice_name['name'] }}</option>
              {% endfor %}
            {% endif %}
          {% endfor %}
        {% endif %}
      </select>
      
      <input type="submit" value="Convert" />
    </form>
  </body>
</html>
